@media only screen and (max-width: 767px)
{
    .check-form
    {
        padding: 10px 30px;

        div 
        {
            padding: 20px 0;
            width: 100%;
        }

        input 
        {
            border-bottom: 1px solid #ccc;
            width: 100%;
            padding-bottom: 5px;
        }

        button 
        {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 4px;
        }
    }
}


@media only screen and (min-width: 767px)  and (max-width: 1150px)
{
    .check-form
    {
        padding: 10px 30px;
        width: 75%;
        margin: 0 auto;

        div 
        {
            padding: 20px 0;
            width: 100%;
        }

        input 
        {
            border-bottom: 1px solid #ccc;
            width: 100%;
            padding-bottom: 5px;
        }

        button 
        {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 4px;
        }
    }
}