@media only screen and (max-width: 767px) 
{
    .stories p
    {
        font-size: 20px;
    }

    .start-btn
    {
       width: 70%;
    } 
}

@media only screen and (min-width: 768px) and (max-width: 920px)
{
    .stories p 
    {
        font-size: 20px;
    }
    
    .start-btn
    {
        width: 30%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px)
{
    .start-btn
    {
        width: 40%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 575px)
{
    .start-btn
    {
        width: 50%;
    }
}