.house-title
{
    margin-top: 50px;

    h1 
    {
        font-weight: 600;
    }

    .row 
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 0;
    }

    span 
    {
        margin: 0 20px;
    }

    i 
    {
        color: #ff5361;
        font-size: 14px;
    }
}//fine .house-title


@media only screen and (max-width: 767px)
{
    .row p 
    {
        margin-top: 10px;
    }
}