.host 
{
    display: flex;
    align-items: center;

    img 
    {
        width: 80px;
        border-radius: 50%;
        margin-right: 30px;
    }

    h2 
    {
        margin-bottom: 10px;
        font-weight: 500;
    }

    i 
    {
        color: #ff5361;
    }
}

.contact-host 
{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 30px;
    border: 1px solid #ff5361;
    border-radius: 5px;
}