/*
   Viene usato il selettore di elemento nav al posto di #navbar perchè altrimenti il menu a discesa
   non si attiva quando clicchiamo sull' hamburgger icon quando è attiva la visualizzazione mobile
   non so perchè si verifica questo problema, però intanto c' è.
*/
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;

    .fa-bars
    {
        display: none;
    }
}

.logo
{
    width: 140px;
    cursor: pointer;
}

.nav-links li 
{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a
{
    text-decoration: none;
    color: #fff;
}

.active
{
    position: relative;
}

.active::after
{
    content: '';
    background-color: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

.register-btn
{
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}